body {
    font-size: 13px;
  }
  
  .page {
    padding-top: 20vh;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 25vh;
  }
  
  .photo {
    padding-bottom: 15px;
  }
  
  .search {
    width: 700px;
    padding: 8px;
    border: 1px solid #8d8c8c;
    border-radius: 15px;
  }
  
  