.photo{
    width: 150px;
    height: 50px;
    margin-top: 30px;
}
.search{
    margin-left:75px;
    width: 500px;
    height: 25px;
}
.txt1{
    margin-top:50px;
    font-size: 10px;
}
.txt2{
    font-size: 20px;
}
.txt3{
    font-size: 14px
    
}
.container2{
    line-height: 1;
}
body{
    background-color:#fff;
}